:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

/* Кастом для JSON блока результата */
pre {
  scrollbar-width: thin;
  scrollbar-color: #6366f1 #e0e7ff;
  word-break: break-all !important;
}
pre::-webkit-scrollbar {
  width: 8px;
  background: #e0e7ff;
  border-radius: 8px;
}
pre::-webkit-scrollbar-thumb {
  background: #6366f1aa;
  border-radius: 8px;
}

@media (max-width: 480px) {
  .min-h-80, .max-h-80, pre {
    font-size: 13px !important;
    padding: 0.7rem !important;
  }
}